---
import Section from "@/components/section.astro";
---

<Section>
  <h2 class="text-scondary text-center text-balance text-4xl font-bold mb-12">
    Preguntas frecuentes
  </h2>
  <div class="space-y-6">
    <div class="bg-gray-900/50 border-2 border-gray-700 rounded-lg">
      <div class="p-6 space-y-2">
        <h3 class="text-scondary font-bold text-lg text-balance">
          ¿Puedo cambiar de plan en cualquier momento?
        </h3>
        <p class="text-gray-50 text-wrap">
          Sí, puedes actualizar o cambiar tu plan en cualquier momento. Los
          cambios se aplicaran en tu próximo ciclo de facturación.
        </p>
      </div>
    </div>

    <div class="bg-gray-900/50 border-2 border-gray-700 rounded-lg">
      <div class="p-6 space-y-2">
        <h3 class="text-scondary font-bold text-lg text-balance">
          ¿Hay período de prueba gratuito?
        </h3>
        <p class="text-gray-50 text-wrap">
          Ofrecemos una prueba gratuita de 3 días para que conozcas nuestras
          instalaciones y servicios antes de comprometerte.
        </p>
      </div>
    </div>

    <div class="bg-gray-900/50 border-2 border-gray-700 rounded-lg">
      <div class="p-6 space-y-2">
        <h3 class="text-scondary font-bold text-lg text-balance">
          ¿Qué incluye la evaluación física inicial?
        </h3>
        <p class="text-gray-50 text-wrap">
          Incluye medición de composición corporal, evaluación postural, pruebas
          de flexibilidad y fuerza, y diseño de plan de entrenamiento
          personalizado.
        </p>
      </div>
    </div>

    <div class="bg-gray-900/50 border-2 border-gray-700 rounded-lg">
      <div class="p-6 space-y-2">
        <h3 class="text-scondary font-bold text-lg text-balance">
          ¿Puedo congelar mi membresía?
        </h3>
        <p class="text-gray-50 text-wrap">
          Sí, puedes congelar tu membresía por hasta 2 meses al año por razones
          médicas o viajes, con la documentación correspondiente.
        </p>
      </div>
    </div>
  </div>
</Section>
