---
import Section from "@/components/section.astro";
---

<Section>
  <div class="flex flex-col items-center justify-center space-y-8">
    <h2 class="text-2xl font-bold md:text-5xl text-scondary mb-4">
      Nuestros Programas
    </h2>
    <p class="text-slate-50">
      Programas diseñados por expertos para diferentes objetivos y niveles de
      condición física
    </p>
  </div>
</Section>
